@import url('nullStyle.css');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.main {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header {
   width: 100%;
   max-width: 1080px;
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 75px 10px;
}

.navbar_navlist {
   display: flex;
}

.navbar_navlist-item {
   padding-right: 100px;
}

.link {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   text-transform: uppercase;
   color: #626262;
}

.navbar .navbar_navlist-item:nth-child(4) {
   padding: 0;
}

.slider-wrapper {
   width: 100%;
   max-width: 1080px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.slider {
   width: 100%;
   max-width: 1080px;
   height: 500px;
   position: relative;
   margin-bottom: 90px;
}

.slider .item img {
   object-fit: cover;
   width: 100%;
   height: 500px;
}

.slider .previous,
.slider .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 16px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
}

.slider .next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
   background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {
      opacity: 0.4
   }

   to {
      opacity: 1
   }
}

.page-three_wrapper {
   width: 100%;
   max-width: 890px;
   height: auto;
   display: flex;
}

.sidebar {
   width: 20%;
   max-width: 200px;
   height: auto;
   display: flex;
   flex-direction: column;
   background-color: white;
   position: sticky;
   top: 0px;
}

.sidebar.fixed {
   position: fixed;
   right: 50%;
   margin-right: -50%;
}

.sidebar_about-me {
   width: 100%;
   margin-bottom: 40px;
}

.about-me_photo {
   width: 200px;
   height: 150px;
   background: url('../img/card_photo_6.png') center center no-repeat;
   background-size: cover;
   margin-bottom: 20px;
}

.about-me_title {
   font-size: 18px;
   line-height: 1.2;
   font-weight: 400;
   color: #626262;
   margin-bottom: 10px;
}

.about-me_text {
   font-size: 14px;
   font-weight: 400;
   color: #626262;
   margin-bottom: 10px;
}

.about-me_social a {
   padding: 0 5px;
}

.top-posts_title {
   font-family: Ubuntu;
   font-size: 12px;
   font-weight: 300;
   text-transform: uppercase;
   color: #b4ad9e;
   margin-bottom: 20px;
}

.top-posts_list {
   margin-left: 10px;
}

.top-posts_list li {
   list-style: initial;
   color: #b4ad9e;
}

.top-posts_list-item {
   list-style: initial;
   color: #626262;
   margin-bottom: 15px;
}

.top-posts_text {
   color: #626262;
   margin-bottom: 7px;
}

.top-posts_comments {
   color: #b4ad9e;
}

.baner-spot {
   width: 200px;
   height: 150px;
   background: url('../img/card_photo_1.png') center center no-repeat;
   background-size: cover;
   margin-bottom: 20px;
}

.page-two_content {
   width: 80%;
   max-width: 890px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 60px;
}

.photo-block_item {
   width: 100%;
   max-width: 890px;
   margin-bottom: 40px;
}

.photo-block_item img {
   width: 100%;
   max-width: 890px;
}

.main-text-block {
   width: 100%;
   max-width: 890px;
   padding: 0 10px;
}

.cards {
   width: 100%;
   max-width: 890px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   justify-content: center;
}

.card-item {
   width: 100%;
   max-width: 420px;
   height: 480px;
   margin: 40px 5px 60px 5px;
}

.card-item_photo {
   width: 420PX;
   height: 280px;
   margin-bottom: 30px;
}

.card-item_subtext {
   font-family: Ubuntu;
   font-size: 14px;
   line-height: 1.2;
   font-weight: 300;
   text-transform: uppercase;
   color: #b4ad9e;
   margin-bottom: 30px;
}

.card-item_title {
   font-size: 30px;
   line-height: 1.2;
   margin-bottom: 40px;
}

.card-item_text {
   width: 420px;
   height: 80px;
   font-size: 14px;
   line-height: 24px;
   margin-bottom: 5px;
   overflow: auto;
}

.slider-text {
   width: 100%;
   height: auto;
   margin-bottom: 50px;
}

.quote-block {
   font-size: 14px;
   line-height: 24px;
   font-style: italic;
   margin-bottom: 20px;
}

.share-block {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: end;
}

.share-block_items {
   display: flex;
   width: 100%;
   max-width: 140px;
   display: flex;
   justify-content: space-between;
   padding-right: 10px;
   color: #b4ad9e;
}

.sign-up {
   width: 100%;
   min-height: 287px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f0f0f0;
   font-size: 14px;
   line-height: 24px;
}

.sign-up_contetn {
   width: 400px;
   display: flex;
}

.sign-up_form {
   position: relative;
}

.submit-btn {
   width: 32px;
   height: 17px;
   background: url('../img/send_icon.png') center center no-repeat;
   position: absolute;
   right: 0;
   top: 15px;
}

.sign-up_title {
   font-size: 30px;
   line-height: 1.2;
   letter-spacing: 0.025em;
   color: #333333;
   margin-bottom: 80px;
}

.sign-up_input {
   width: 100%;
   height: 40px;
   font-size: 14px;
   line-height: 24px;
   color: #626262;
   background-color: inherit;
   border-bottom: 1px solid #000000;
}

.sign-up .sign-up_contetn-page2 {
   width: 100%;
   max-width: 890px;
   height: auto;
}

.sign-up_cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 60px;
}

.sign-up_card {
   width: 220px;
   height: 150px;
   background-size: cover;
   margin: 20px;
}

.sign-up_text {
   font-size: 14px;
   line-height: 24px;
   color: #b4ad9e;
   padding-left: 20px;
   padding-top: 20px;
}

.sign-up_card-text {
   margin-top: 15px;
   font-size: 16px;
   line-height: 24px;
}

.sign-up_card-img1 {
   width: 200px;
   height: 150px;
   background-size: cover;
   background: url('../img/card_photo_5.png') center center no-repeat;
}

.sign-up_card-img2 {
   background: url('../img/card_photo_6.png') center center no-repeat;
   width: 200px;
   height: 150px;
   background-size: cover;
}

.sign-up_card-img3 {
   background: url('../img/card_photo_7.png') center center no-repeat;
   width: 200px;
   height: 150px;
   background-size: cover;
}

.load {
   margin: 40px 0;
}

.load-btn {
   width: 164px;
   height: 60px;
   background-color: inherit;
   border: 1px solid #626262;
   font-size: 20px;
   line-height: 24px;
   color: #626262;
   box-shadow: -5px -3px 5px -2px rgba(0, 0, 0, 0.57);
   -webkit-box-shadow: -5px -3px 5px -2px rgba(0, 0, 0, 0.57);
   -moz-box-shadow: -5px -3px 5px -2px rgba(0, 0, 0, 0.57);
}

.comments {
   width: 100%;
   max-width: 980px;
   margin-top: 40px;
}

.comments-content {
   margin: 0 20px;

}

.comment {
   width: 100%;
   height: auto;
   display: flex;
   margin: 20px 0;
}

.comment_avatar {
   height: 80px;
   display: flex;
   align-items: center;
   margin-right: 30px;
}

.avatar1 {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: url('../img/card_photo_2.png') center center no-repeat;
   background-size: cover;
}

.avatar2 {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: cadetblue;
   background-size: cover;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
}

.avatar3 {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: antiquewhite;
   background-size: cover;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
}

.user-initials {
   font-weight: bold;
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 24px;

}

.comment-text {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
}

.comment-reply {
   margin-top: 20px;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   color: #b4ad9e;
}

.leave-comment {
   display: flex;
   align-items: center;
}

.new-comment_text-block {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   border: 1px solid #626262;
}

.cooment-area {
   width: 100%;
   padding-left: 20px;
}

.contented-with {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: end;
   margin: 40px 0 60px 0;
}


.contented-with_item {
   display: flex;
   display: flex;
   padding-right: 10px;
   color: #b4ad9e;
   text-transform: uppercase;
}

.footer {
   width: 100%;
   height: auto;
   background-color: #f0f0f0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-content {
   display: flex;
   width: 100%;
   height: 100px;
   max-width: 890px;
   justify-content: space-between;
   align-items: center;
}

.footer_text {
   font-size: 14px;
   line-height: 24px;
   color: #000000;
}

.privacy {
   padding-left: 30px;
}

.footer_left-block {
   padding-left: 10px;
}

.footer_right-block {
   width: 100%;
   max-width: 140px;
   display: flex;
   justify-content: space-between;
   padding-right: 10px;
}

@media (max-width: 768px) {
   .navbar_navlist-item {
      padding-right: 50px;
   }
}

@media (max-width: 560px) {

   .header {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .navbar_navlist-item {
      padding-right: 10px;
   }

   .card-item {
      height: auto;
   }

   .card-item .card-item_title {
      height: auto;
      text-align: center;
      font-size: 24px;
   }

   .card-item .card-item_text {
      max-width: 100%;
      height: auto;
   }

   .card-item .card-item_subtext {
      text-align: center;
   }

   .card-item_photo {
      max-width: 100%;
   }

   .card-item_img {
      max-width: 100%;
   }

   .sign-up_title {
      text-align: center;
   }

   .about-me_title {
      font-size: 14px;
   }

   .about-me_text {
      font-size: 10px;
   }

   .about-me_social a{
      padding: 0 2px;
   }
}